dialog {
  padding: 0;
  background-color: rgba(33,33,33,.6);
  border: 1px solid #bebebe;
  border-radius: 6px;
  box-shadow: 0 0 30px rgba(0,0,0,.1);
  overflow: hidden;
}

.pane-sm.sidebar {
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.pane-sm.sidebar:hover {
  max-width: 50%;
  width: 50%;
}

.sidebar .list-group {
  height: 100%;
  overflow-y: scroll;
}

.list-group-item {
  position: relative;
}
.list-group-item .url:hover {
  text-decoration: underline;
}
.list-group-item:hover {
  background-color: rgb(235, 235, 234);
}
.list-group-item .js--close {
  position: absolute;
  top: 4px;
  left: 10px;
}

.js--dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.js--dialog .shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33,33,33,.8);
}
.js--dialog .close {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  transform: translate(-150%, -150%);
  background-color: rgb(245,245,245);
  border-radius: 4px;
  z-index: 1000;
  cursor: pointer;
}
.js--dialog .close .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.js--dialog .inner {
  position: relative;
  width: 500px;
  background-color: rgb(245,245,245);
  border-radius: 4px;
}
.js--dialog button {
    margin-right: 20px;
}

.js--result {
  padding: 20px;
}
.result-item {
  text-align: left;
  margin-bottom: 10px;
  background-color: #fff;
  border: 1px solid rgba(33,33,33,.1);
  border-radius: 4px;
  padding: 10px;
  transition: border-color .5s ease;
}
.result-item:hover {
  border-color: rgba(33,33,33,.4);
}
.result-item .info {
  margin-bottom: 10px;
}
.result-item.info .info {
  color: #fece72;
}
.result-item.error .info {
  color: #fd918d;
}
.result-item .info strong {
  text-transform: uppercase;
}
.result-item .location {
  margin-bottom: 10px;
}
.result-item .extract {
  font-style: italic;
  font-size: 12px;
}
.result-item * {
  padding: 0;
  margin: 0;
  text-align: left;
}

.no-error {
  color: #5bd46d;
}

.preloader-js-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 999999999999999;
}

.preloader-js-container .shadow {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.preloader-js {
  display: inline-block;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 64px;
  height: 64px;
  transform: translate(-50%, -50%);
}

.preloader-js div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 10px;
  border: 10px solid black;
  border-radius: 50%;
  animation: preloader-js 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #00b0b9 transparent transparent transparent;
}

.preloader-js div:nth-child(1) {
  animation-delay: -0.45s;
}

.preloader-js div:nth-child(2) {
  animation-delay: -0.3s;
}

.preloader-js div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes preloader-js {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
