dialog {
  padding: 0;
  background-color: rgba(33,33,33,.6);
  border: 1px solid #bebebe;
  border-radius: 6px;
  box-shadow: 0 0 30px rgba(0,0,0,.1);
  overflow: hidden;
}

.pane-sm.sidebar {
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.pane-sm.sidebar:hover {
  max-width: 50%;
  width: 50%;
}

.list-group-item {
  position: relative;
}
.list-group-item .js--close {
  position: absolute;
  top: 4px;
  left: 10px;
}
